html, body {
  height: 100%;
}
.nxmodeler-wrapper {
  display: grid;
  grid-template: 50px 1fr 200px / 1fr 350px;
  height: 100%;
  overflow: hidden;
}
.nxmodeler-wrapper.right-collapse {
  grid-template-columns: 1fr 0;
}
.nxmodeler-wrapper.bottom-collapse {
  grid-template-rows: 50px 1fr 0;
}
.nxmodeler-top {
  grid-row: 1;
  grid-column: 1 / span 2;
  border-bottom: 1px solid #888;
}
.nxmodeler-right {
  grid-row: 2 / span 2;
  grid-column: 2;
  border-left: 1px solid #888;
}
.nxmodeler-bottom {
  grid-row: 3;
  grid-column: 1;
  border-top: 1px solid #888;
}
.nxmodeler-main {
  grid-row: 2;
  grid-column: 1;
  overflow: scroll;
}

.nxmodeler-canvas {
  position: relative;
}

.nxmodeler-node:hover {
  border: 1px solid #216477;
  cursor: pointer;
}

.nxmodeler-eventnode,
.nxmodeler-gateway {
  position: absolute;
  border: 1px solid #61B7CF;
  border-radius: 30px;
}

.nxmodeler-gateway .glyphicon {
  font-size: 20px;
}

.nxmodeler-usertask {
  position: absolute;
  border: 1px solid #61B7CF;
  border-radius: 5px;
}

.nxmodeler-usertask-label {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.nxmodeler-userpicker .modal-title {
  font-weight: 600;
}

.nxmodeler-userpicker .nxmodeler-userpicker-select .btn-group {
  width: 70px;
}

.ui-widget {
  font-size: .8em;
}

.ui-menu {
  width: 150px;
}

/* 覆盖默认样式 */
.nxmodeler-userpicker thead > tr > th {
  border-bottom: 0;
}

.nxmodeler-userpicker .btn,
.nxmodeler-userpicker .form-control {
  border-radius: 2px;
}

.nxmodeler-userpicker .btn.btn-default {
  color: #40b0f7;
  border-color: #40b0f7;
}

.nxmodeler-userpicker .btn.btn-primary {
  background-color: #40b0f7;
  border-color: #40b0f7;
}

.nxmodeler-userpicker .btn.btn-primary:hover {
  background-color: #38a8f5;
  border-color: #38a8f5;
}

.nxmodeler-userpicker thead tr {
  color: #fff;
  background-color: #40b0f7;
}

.nxmodeler-userpicker tbody tr .btn.btn-default {
  color: #0084ff;
  background-color: #fff;
  border-color: #0084ff;
}

.nxmodeler-userpicker tbody tr:hover {
  background-color: #f5f5f5;
}

.nxmodeler-userpicker tbody tr .btn.btn-default:hover {
  color: #ff4e00;
  border-color: #ff4e00;
}

.nxmodeler-userpicker .btn.nxmodeler-userpicker-search {
  color: #ff6158;
  border-color: #ff6158;
}

.nxmodeler-userpicker .btn.nxmodeler-userpicker-search:hover {
  color: #fff;
  background-color: #ff6158;
}

.nxmodeler-userpicker .ztree a.curSelectedNode {
  color: #fff;
  background-color: #40b0f7;
  border-color: #38a8f5;
}

.nxmodeler-userpicker .nxmodeler-userpicker-select .btn.btn-up {
  color: #00cecf;
  border-color: transparent;
}

.nxmodeler-userpicker .nxmodeler-userpicker-select .btn.btn-down {
  color: #3eb1f6;
  border-color: transparent;
}

.nxmodeler-userpicker .nxmodeler-userpicker-select .btn.btn-minus {
  color: #ffb835;
  border-color: transparent;
}

.nxmodeler-userpicker .nxmodeler-userpicker-select .btn.btn-default:hover {
  color: #ff6158;
  border-color: transparent;
}
